:root {
  --main-color: #ce1c2d;
  --sub-color: #0063a8;
}
body {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: "Noto Sans KR", "Nanum Gothic", sans-serif;
}
img {
  display: block;
  width: 100%;
}
a {
  text-decoration: none;
}
.inner {
  max-width: 1496px;
  margin: auto;
  position: relative;
}
.swiper-prev,
.swiper-next {
  /* width: 42px;
    height: 42px; */
  border: 2px solid var(--sub-color);
  border-radius: 50%;
  position: absolute;
  /* top: 300px; */
  z-index: 1;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  color: var(--sub-color);
}
.btn {
  width: 130px;
  padding: 10px;
  border: 2px solid #4d2f2f;
  border-radius: 4px;
  color: #4d2f2f;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transform: 0.4s;
}
.btn:hover {
  background: #4d2f2f;
  color: #fff;
}
.hide_txt {
  display: none;
}
.material-symbols-outlined {
  display: block;
  padding: 0;
  margin: 0;
}
h2 {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  padding: 50px 0;
} 
b {
  color: var(--main-color);
}
.name--red {
  color: var(--main-color);
}
.name--yellow {
  color: #ff8245;
}
.name--blue {
  color: #089371;
}
.name--brown {
  color: #4d2f2f;
}
.name--white {
  color: #fff;
}
/* HEADER */
header {
  height: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9;
  background-color: #fff;
}
header .logo {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
}
header #main-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-bottom: 1px solid #dedede; */
}
header #main-menu .item {
  padding: 0 30px;
}
header #main-menu .item .item__name {
  font-size: 18px;
  font-weight: bold;
}
header #main-menu .item:hover .item__name {
  color: var(--sub-color);
}
header #main-menu .item .item__contents {
  width: 100%;
  position: fixed;
  top: 95px;
  left: 0;
  display: none;
}
header #main-menu .item:hover .item__contents {
  display: block;
}
header #main-menu .item .item__contents .contents__bg {
  height: 280px;
  background-color: #fff;
  margin: auto;
  border-top: 1px solid #dedede;
}
header #main-menu .item .item__contents .contents__bg > ul {
  max-width: 1000px;
  padding: 20px 0;
  display: flex;
  gap: 10px;
}
header #main-menu .item .item__contents .contents__bg > ul.inner__right {
  justify-content: flex-end;
  margin: 0 auto;
}
header #main-menu .item .item__contents .contents__bg > ul > li {
  width: 200px;
}
header #main-menu .item .item__contents .contents__bg > ul > li > a {
  padding: 5px 0 12px 0;
  font-size: 18px;
  font-weight: 700;
  /* color: var(--main-color); */
}
header #main-menu .item .item__contents .contents__bg > ul > li ul li {
  padding: 5px 0;
  font-size: 17px;
  cursor: pointer;
}
header .util {
  height: 95px;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  margin: auto;
  right: 3%;
  display: flex;
  gap: 10px;
  align-items: center;
}
header .util .search {
  position: relative;
  height: 34px;
}

header .util .search .material-symbols-outlined {
  font-size: 32px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto;
  cursor: pointer;
}
header .util .language .material-symbols-outlined {
  font-size: 32px;
}
header .util .allmenu_open .material-symbols-outlined {
  font-size: 34px;
}

@media screen and (max-width: 1280px) {
  header #main-menu {
    display: none;
  }
  @media screen and (max-width: 960px) {
  }
}
/* SEARCH WRAP */
.search_wrap {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 95px;
  background: rgba(255, 255, 255, 0.8);
}
.search_wrap form {
  width: 940px;
  text-align: center;
  margin: 95px auto;
}
.search_wrap fieldset {
  border: 1px solid #000;
  position: relative;
}
.search_wrap form input {
  width: 100%;
  padding: 20px 95px 20px 20px;
  border-radius: 4px;
  font-size: 16px;
  border: 1px solid #dedede;
  box-sizing: border-box;
  object-fit: none;
}
.search_wrap form input:focus {
  border: none;
  outline: 2px solid var(--sub-color);
}
.search_wrap fieldset button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.search_wrap fieldset .btn_sumbmit {
  position: absolute;
  right: 20px;
  width: 26px;
  height: 26px;
  background: url(/img/search_btn.svg);
}
.search_wrap .btn_search_close {
  position: absolute;
  right: 10%;
  top: 20px;
  width: 32px;
  height: 32px;
  background: url(/img/search_close.svg);
  background-size: contain;
}
/* allmenu_wrap */
.allmenuWrap {
  display: none;
}
.allmenuWrap.show {
    display: block;
    position: fixed;
    right: 0; top: 0; bottom: 0;
    padding-top: 150px; 
    /* padding-right: 100px; */
    /* padding: 130px 100px; */
    background: #fff;
    /* display: none; */
}
.allmenuWrap .allmenuList {
  /* border: 1px solid #000; */
  width: 300px;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.allmenuWrap .allmenuList li {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  /* text-align: center; */
}
.allmenuWrap .allmenuList li:last-child {
  border-bottom: none;
}
.allmenuWrap .allmenuList li::after{
  content: "+";
}
.allmenuWrap .allmenuList li a {
  font-size: 18px; font-weight: 700; color: #333;
  line-height: 2.3em;
  padding: 20px;
}
.allmenuWrap .allmenuClosed {
  position: absolute;
  top: 5%;
  right: 10%;
  width: 32px;
  height: 32px;
  background: url(/img/search_close.svg);
  background-size: contain;
}

/* VISUAL */
.swiper-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.visual_wrap .slide-text {
  position: absolute;
  top: 30%;
  left: 40%;
  transform: translateX(-50%);
}
.visual_wrap .slide-text p {
  color: #fff;
  font-size: 45px;
  font-weight: 600;
  line-height: 1.2;
}

.visual_wrap .slide-text p.color_bk {
  color: #000;
}
.visual_wrap .swiper-button-next,.visual_wrap .swiper-button-prev {
  z-index: 1;
}
@media screen and (max-width:960px) {
.visual_wrap .slide-text p {
  font-weight: 17px;
}
.visual_wrap .slide-text br {
  display: none;
}
}
@media screen and (max-width:768px) {
.visual_wrap .slide-text p {
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.2;
  width: 100%;
}
.visual_wrap .swiper-slide img {
  width: auto;
}
.visual_wrap .slide-text {
  top: 50%;
  left: 50%;
  line-height: auto;
}
.visual_wrap .swiper-button-next,
.visual_wrap .swiper-button-prev {
  display: none;
}
}

/* MAIN */
/* NEWS */
.news .news-line {
  position: relative;
}
.news .news-line .bg-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #333;
}
.news .news-line .bg-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #f6f5ef;
}
.news .news-line .inner {
  height: 65px;
  display: flex;
  padding: 0 100px;
}
.news .news-line .inner .inner__left {
  width: 60%;
  height: 100%;
  background-color: #333;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.news .news-line .inner .inner__left p {
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  margin-right: 20px;
  white-space: nowrap;
}
.news .news-line .inner .inner__left .swiper-container {
  /* background: orange; */
  flex-grow: 1;
  height: 65px;
}
.news .news-line .inner .inner__left .swiper-slide {
  height: 65px;
  display: flex;
  align-items: center;
}
.news .news-line .inner .inner__left .swiper-slide a {
  color: #fff;
}
.news .news-line .inner .inner__left .news-line__more {
  width: 65px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.news .news-line .inner .inner__left .material-symbols-outlined {
  color: #fff;
  font-size: 32px;
}
.news .news-line .inner .inner__right {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.news .news-line .inner .inner__right p {
  font-size: 17px;
  font-weight: 700;
}
.news .news-line .inner .inner__right .toggle-promotion {
  width: 62px;
  height: 62px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.news .news-line .inner .inner__right .material-symbols-outlined {
  font-size: 30px;
}
.news .promotion {
  height: 700px;
  background-color: #f6f5ef;
  position: relative;
  overflow: hidden;
}
.news .promotion.hide {
  height: 0;
}
.news .promotion .swiper-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.news .promotion .swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  flex-grow: 1;
  opacity: 0.5;
  transition: opacity 1s;

}
.news .promotion .swiper-slide .img_box {
  /* border: 1px solid red; */
  height: 400px;
  overflow: hidden;
}
.news .promotion .swiper-slide-active {
  opacity: 1;
}
.news .promotion .swiper-slide .label {
  color: var(--sub-color);
  font-size: 17px;
  font-weight: 700;
}
.news .promotion .swiper-slide .txt-box {
  /* border: 1px solid #000; */
  padding: 30px;
  font-weight: 600;
  min-height: 100px;
}
.news .promotion .swiper-slide .txt-box .title {
  text-align: center;
  font-size: 32px;
  /* white-space: wrap; */
}
.news .promotion .swiper-slide .txt-box .date {
  display: none;
}
.news .promotion .swiper-pagination {
  bottom: 5%;
  z-index: 0;
}
.news .promotion .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  margin-right: 6px;
  outline: none;
}
.news .promotion .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--sub-color);
}

.news .promotion .swiper-prev,
.news .promotion .swiper-next {
  width: 42px;
  height: 42px;
  top: 40%;
}
.news .promotion .swiper-prev {
  left: 30%;
}
.news .promotion .swiper-next {
  right: 30%;
}
.news .promotion .swiper-prev:hover,
.news .promotion .swiper-next:hover {
  background-color: var(--sub-color);
  color: #fff;
}
@media screen and (max-width:1080px) {
  .news .promotion {
    min-height: 600px;
  }
  .news .promotion .swiper-slide .txt-box .title {
    font-size: 22px;

  }
}
@media screen and (max-width: 960px) {
  .news .promotion {
    height: auto;
  }
  .news .news-line .inner {
    width: 100%; /* 화면 너비의 100%로 변경 */
    padding: 0 20px; /* 좌우 여백 추가 */
    box-sizing: border-box; /* 패딩을 포함한 전체 너비로 설정 */
  }

  .news .news-line .inner .inner__left {
    width: 70%; /* 왼쪽 영역을 화면의 70%로 변경 */
  }

  .news .news-line .inner .inner__right {
    width: 30%; /* 오른쪽 영역을 화면의 30%로 변경 */
  }
}
@media screen and (max-width:780px) {
  .news .news-line {
    display: none;
  }
  .news .promotion .swiper-prev,
  .news .promotion .swiper-next {
    opacity: 0;
  }
}
/* Product */

.product .inner {
  max-width: 1349px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  /* border: 1px solid green; */
}
.product .inner .inner__txt {
  width: 40%;
  /* border: 1px solid red; */
  padding: 60px 0;
}
.product .inner .inner__txt .swiper-container {
  overflow: hidden;
}
.product .inner .inner__txt .swiper-slide .brand_name {
  display: block;
  /* padding-top: 100px; */
  font-size: 30px;
  font-weight: 700;
}
.product .inner .inner__txt .swiper-slide h3 {
  font-size: 60px;
  font-weight: bold;
  padding: 40px 0;
}
.product .inner .inner__txt .swiper-slide p {
  font-size: 20px;
  font-weight: 600;
}
.product .inner .inner__txt .swiper-slide .btn {
  margin: 20px 0;
}
.product .inner .inner__txt .dir_btns {
  position: absolute;
  width: 100px;
}
.product .swiper-prev,
.product .swiper-next {
  width: 36px;
  height: 36px;
  border: 2px solid #ccc;
  color: #777;
}
.product .swiper-prev {
  left: 0;
}
.product .swiper-next {
  right: 0;
}
.product .inner .inner__img {
  width: 40%;
  /* border: 1px solid #000; */
}
.product .inner .inner__img .swiper {
  margin: auto;
}

@media screen and (max-width: 960px) {
  .product h2 {
    font-size: 30px;
    padding: 10px 0;
  }
  .product .inner {
    flex-direction: column-reverse;
  }
  .product .inner .inner__txt {
    padding: 30px 0;
  }
  .product .inner .inner__txt .swiper-slide {
    text-align: center;
  }
  .product .inner .inner__txt .swiper-slide .brand_name {
    font-size: 17px;
  }
  .product .inner .inner__txt .swiper-slide h3 {
    font-size: 22px;
    padding: 10px 0;
  }
  .product .inner .inner__txt .swiper-slide p {
    margin-bottom: 10px;
    font-size: 13px;
  }
  .product .inner .inner__txt .swiper-slide .btn {
    display: none;
  }
  .product .swiper-prev,
  .product .swiper-next {
    width: 24px;
    height: 24px;
  }
  .product .inner .inner__txt .dir_btns {
    left: 50%;
    transform: translateX(-50%);
  }
}
/* ESG */
.esg .esg_list {
  display: flex;
  height: 100%;
}
.esg .esg_list li {
  width: calc(100% / 3);
  position: relative;
}
.esg .esg_list li:hover .esg__inner .txt_box {
  /* display: block; */
  opacity: 1;
  transition: opacity 0.4s;
}
.esg .esg_list li .esg__inner {
  padding: 30% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.esg .esg_list li .esg__inner img {
  width: 200px;
  height: 200px;
}
.esg .esg_list li .esg__inner .txt_box {
  text-align: center;
  color: #fff;
  /* display: none; */
  opacity: 0;
}
.esg .esg_list li .esg__inner .txt_box h3 {
  font-size: 52px;
  font-weight: 700;
  padding: 45px 0;
}
.esg .esg_list li .esg__inner .txt_box p {
  line-height: 1.2;
  font-size: 27px;
}
.esg .esg_list li.envrionment-bg {
  background-image: url(../img/environment-bg.jpg);
  background-size: cover;
}
.esg .esg_list li.social-bg {
  background-image: url(../img/social-bg.png);
  background-size: cover;
}
.esg .esg_list li.governance-bg {
  background-image: url(../img/governance-bg.jpg);
  background-size: cover;
}
.esg .esg_list li a {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid #000; */
}
.esg .esg_list li a::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}
.esg .esg_list li a:hover::before {
  height: 0;
}
.esg .esg_list li img {
  width: 200px;
  height: 200px;
}
@media screen and (max-width: 960px) {
  .esg .esg_list {
    flex-direction: column;
  }
  .esg .esg_list li {
    width: 100%;
    /* border: 1px solid red; */
  }
  .esg .esg_list li .esg__inner {
    padding: 10% 0;
    /* border: 1px solid red; */
  }
  .esg .esg_list li .esg__inner img {
    width: 150px;
    height: 150px;
  }
  .esg .esg_list li .esg__inner .txt_box h3 {
    font-size: 24px;
    /* padding-top: 5px 0; */
    /* border: 1px solid #fff; */
  }
  .esg .esg_list li .esg__inner .txt_box p {
    /* font-size: 17px; */
    display: none;
  }
}
/* BEST BRAND */
.brand {
  background-color: #f6f5ef;
}
.brand .brand_list {
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  /* border: 1px solid #000; */
  padding: 50px 0;
}
.brand .brand_list li {
  flex-basis: calc(50% - 20px);
  text-align: center;
  /* border: 1px solid red; */
  margin-bottom: 30px;
}
.brand .brand_list li img {
  width: 136px;
  height: 136px;
  border-radius: 50%;
  margin: auto;
}
.brand .brand_list li h3 {
  font-size: 27px;
  font-weight: bold;
}
.brand .brand_list li p {
  font-size: 17px;
  line-height: 1.2;
  margin: 30px 0;
}
.brand .brand_bottom {
  background-image: url(../img/brand_bg.jpg);
  background-size: cover;
  background-position: 30%;
  position: relative;
}
.brand .brand_bottom::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  bottom: 0;
  left: 0;
}
.brand .brand_bottom .inner {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-weight: 700;
  height: 230px;
  /* border: 1px solid orange; */
}
.brand .brand_bottom p {
  font-size: 52px;
}
.brand .brand_bottom a {
  font-size: 17px;
  display: flex;
  gap: 8px;
  position: relative;
  padding: 20px;
}
.brand .brand_bottom a::after {
    content: "";
    position: absolute;
    top: 43%;
    right: 0;
    /* transform: translate(-50%,-50%); */
    width: 10px; /* 화살표 너비 */
    height: 10px; /* 화살표 높이 */
    border-left: 2px solid #fff; /* 화살표를 위한 왼쪽 테두리 */
    border-bottom: 2px solid #fff; /* 화살표를 위한 하단 테두리 */
    transform: rotate(-135deg); /* 화살표를 45도 회전하여 대각선으로 만듦 */
}
@media screen and (max-width:920px) {
  .brand .inner {
    width: 100%;
  }
  .brand h2 {
    display: none;
  }
  .brand .brand_list {
    flex-wrap: wrap;
    padding: 10% 0;
  }
  .brand .brand_list li {
    flex-grow: 1;
    flex-basis: calc(50% - 20px);
    margin-bottom: 0;
  }
  .brand .brand_list li img {
    width: 100px;
    height: 100px;
  }
  .brand .brand_bottom p  {
    font-size: 30px;
  }
  .brand .brand_bottom a {
    font-size: 15px;
  }
  .brand .brand_bottom .inner {
    height: 130px;
    justify-content: center;
  }
  .brand .brand_bottom .inner a {
    display: none;
  }
}
/* golobal map  */
.global_map {
  overflow: hidden;
  position: relative;
}
.global_map .wrap {
  display: flex;
  justify-content: space-between;
  padding-right: 100px;
  min-height: 900px;
}
.global_map .wrap .left_img {
  background-image: url(../img/map_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: calc(50% - 200px);
  /* border: 1px solid #000; */
  /* flex-grow: 1; */
}
.global_map::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 5%;
  width: 100%;
  height: 100%;
  background-image: url(/img/main_worldmap_bg.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.global_map .wrap .left_img img {
  flex-shrink: 0;
  height: 100%;
}
.global_map .wrap .list_box {
  z-index: 1;
  width: 40%;
  /* border: 1px solid red; */
}
.global_map .wrap .list_box h2 {
  text-align: left;
}
.global_map .wrap .national_list {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.global_map .wrap .national_list li {
  display: flex;
  flex-direction: column;
  border: 1px solid #dedede;
  border-radius: 30px;
}
.global_map .wrap .national_list li .txt_box {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}
.global_map .wrap .national_list li img {
  width: auto;
}
.global_map .wrap .national_list li:hover {
  background-color: #f6f5ef;
}
.global_map .wrap .national_list li p {
  font-size: 32px;
  font-weight: 500;
}
.global_map .wrap .national_list li:hover .img_box {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-bottom: 30px;
  border-radius: 0 0 30px 30px;
  opacity: 1;
  transition: height 0.5s;
  visibility: visible;
  height: 100%;
}
.global_map .wrap .national_list li .img_box img {
  width: 250px;
}
.global_map .wrap .national_list li .img_box {
  visibility: hidden;
  height: 0;
  opacity: 0;
}
@media screen and (max-width: 920px) {
  .global_map .wrap {
    padding-right: 0;
  }
  .global_map .wrap .left_img {
    display: none;
  }
  .global_map .wrap .list_box {
    width: 80%;
    margin: auto;
    padding-bottom: 150px;
  }
  .global_map .wrap .national_list {
    gap: 30px;
  }
  .global_map .wrap .list_box h2 {
    margin-bottom: 0;
  }
  .global_map .wrap .national_list li:hover .img_box  {
    display: none;
  }
}

/* FOOTER */
footer {
  background: #333;
  color: #ccc;
  padding: 30px 0;
}
footer .inner {
  width: 80%;
}
footer .footer-top {
  display: flex;
  justify-content: space-between;
}
footer .footer-top .address {
  padding: 20px 0;
}
footer .footer-top .links .footer_menu {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}
footer .footer-top .address {
  color: #777;
  line-height: 1.2;
}
footer .footer-top .others {
  display: flex;
  gap: 10px;
  padding: 20px 0;
}
footer .footer-top .others li {
  text-decoration: underline;
}
footer .footer-top .others li:nth-child(2) {
  color: #fff;
}
footer .footer-top img {
  width: 135px;
  height: 29px;
}
footer .footer-bottom {
  border-top: 1px solid #ccc;
  padding: 50px 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
footer .footer-bottom .inner__right {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 20px;
}
footer .sns_list {
  display: flex;
  gap: 5px;
}
footer .sns_list li {
  width: 36px;
  height: 36px;
}
footer .family_site {
  border: 1px solid #fff;
  border-radius: 15px;
  font-size: 14px;
  
}
footer .family_site button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  color: #fff;
  padding: 10px 15px;
  width: 100%;
}
footer .family_site button::after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background: url(../img/ico-footer-familysite-on.png) no-repeat;
}
footer .family_site .fam_site li {
  display: none;
}
@media screen and (max-width: 1280px) {
  footer .footer-top .links .footer_menu {
    font-size: 17px;
  }
  footer .footer-top .address {
    font-size: 12px;
  }
}
@media screen and (max-width: 960px) {
  footer .footer-top .info {
    display: none;
  }
  footer .footer-bottom {
    flex-direction: column;
    border-top: none;
    padding: 0;
    align-items: flex-start;
  }
  footer .footer-bottom .inner__right {
    flex-direction: column;
    align-items: flex-start;
  }
  footer .family_site button {
    width: 400px;
  }
  footer .footer-top .others li {
    font-size: 12px;
  }
  footer .copyright {
    margin-top: 20px;
  }
}
